<br />
<br />
Following is the Action Category Table
<br />
<br />
<table>
  <thead>
    <tr>
      <th>Category Code</th>
      <th>Category Title</th>
      <th>Category Start Date</th>
      <th>Category End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>actionCategoryCode 1</td>
      <td>title 1</td>
      <td>startDate 1</td>
      <td>endDate 1</td>
    </tr>
    <tr>
      <td>actionCategoryCode 2</td>
      <td>title 2</td>
      <td>startDate 2</td>
      <td>endDate 2</td>
    </tr>
    <tr>
      <td>actionCategoryCode 3</td>
      <td>title 3</td>
      <td>startDate 3</td>
      <td>endDate 3</td>
    </tr>
    <tr>
      <td>actionCategoryCode 4</td>
      <td>title 4</td>
      <td>startDate 4</td>
      <td>endDate 4</td>
    </tr>
  </tbody>
</table>
<br />
<br />
Following is the Action Type Table
<br />
<br />

<table>
  <thead>
    <tr>
      <th>Action Code</th>
      <th>Action Title</th>
      <th>Action Start Date</th>
      <th>Action End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>actionTypeCode 1</td>
      <td>title 1</td>
      <td>startDate 1</td>
      <td>endDate 1</td>
    </tr>
    <tr>
      <td>actionTypeCode 2</td>
      <td>title 2</td>
      <td>startDate 2</td>
      <td>endDate 2</td>
    </tr>
    <tr>
      <td>actionTypeCode 3</td>
      <td>title 3</td>
      <td>startDate 3</td>
      <td>endDate 3</td>
    </tr>
    <tr>
      <td>actionTypeCode 4</td>
      <td>title 4</td>
      <td>startDate 4</td>
      <td>endDate 4</td>
    </tr>

  </tbody>
</table>
